.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  -webkit-animation: animColor 15s linear infinite;
  animation: animColor 15s linear infinite;
}

.sections {
  overflow: auto;
  height: 100vh;
}

.project-section-container {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes animColor {
  0% {
    filter: hue-rotate(var(--value, 0deg));
  }

  100% {
    filter: hue-rotate(var(--value, 360deg));
  }
}
@keyframes animColor {
  0% {
    filter: hue-rotate(var(--value, 0deg));
  }

  100% {
    filter: hue-rotate(var(--value, 360deg));
  }
}
